* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;

  justify-content: center;
}
.wrapper {
  padding: 20px;
}
.adding-div {
  padding: 20px 0;
  position: relative;
}
.adding-div input,
.adding-div button {
  font-size: 25px;
  outline: none;
}
/*   */
.adding-div input {
  padding: 5px;
  border-radius: 10px;
  border: 2.5px solid black;
}
.adding-div button,
.delete {
  border-radius: 5px;
  padding: 3px 5px;
  border: none;

  color: #fff;
}
.adding-div button {
  background-color: black;
  position: absolute;
  right: 5px;
  top: 24.5px;
}
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.todos .todo {
  display: flex;
  justify-content: space-between;
}
.todos .todo span,
.todos .todo button,
.todos .todo input {
  font-size: 20px;
}
.todos .todo input {
  accent-color: darkgray;
}
.todos .todo input:checked + span {
  text-decoration: line-through;
}

.delete {
  background-color: darkred;
}
